body {
  height: 100vh;
  background-image: url('/img/vinyl.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.navbar-custom {
background-color: rgba(52, 58, 64, .7);
}

.navbar-brand{
  color: #E30202;
}

@font-face{
  font-family: 'BackstagePassNF';
  src:url("/css/font/BackstagePassNF.ttf"),
      url("/css/font/BackstagePassNF.otf");
}

@font-face{
  font-family: 'KEEPT___';
  src:url("/css/font/KEEPT___.TTF");
}

.nav-link, .navbar-brand{
  font-weight: bold;
  font-size: 2.1rem !important;
  color: #E30202;
  font-family: 'KEEPT___';
}

a:hover {
  color: #961010;
}



.card-title-overlay a{
display: block;
margin-top: 6rem;
color: #E30202;
font-size: 2em;
text-decoration: none;
font-family:'BackstagePassNF';

}

.card-overlay{
  position: relative;
  display:block;
}

.card-title-overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 19rem;
  height: 19rem;
  color: black;
  background-color:rgba(255,255,255,0.8);
  text-align: center;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  }

  .card-title-overlay:hover {
      opacity:1;
  }


  .card-overlay img {
      z-index:1;
  }

.navbar-brand{
  font-size: 1.5rem;
}

.jumbotron {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(45, 46, 46, 0.5);
}

.jumbotron h1, h2 {
  text-align: center;
}

@font-face{
  font-family: 'The Juke Box';
  src:url("/css/font/The_Juke_Box-FFP.ttf");
}

.singlepage-title {
  color: #E30202;
  margin-top: 3%;
  text-align: center;
  font-size: 6vw;
  font-family: 'The Juke Box';
}
.container-home{
  height: 60vh;
  text-align: center;
}
.homepage-title{
  color: #E30202;
  margin-top: 20%;
  align-content: center;
  text-align: center;
  font-size: 15vw;
  font-family: 'The Juke Box';
}
.container-home{
  margin-top: 20%;
}
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
