extends layout

block content 
  .container
    .jumbotron
      h2 Register
      p Veuillez-vous enregistrer ici:
      form(method='POST', action='/users/register', enctype="multipart/form-data")
        form-group
          label Name
          input.form-control(name='name', type='text', placeholder='Entrer votre nom')
          label Email
          input.form-control(name='email', type='email', placeholder='Entrer votre Email')
          label Username
          input.form-control(name='username', type='text', placeholder='Entrer votre pseudo')
          label Password
          input.form-control(name='password', type='password', placeholder='Entrer votre mot de passe')
          label Confirmer votre password
          input.form-control(name='password2', type='password', placeholder='Confirmer votre nom')
          label Profile image
          input(name='avatar', type='file') 
          input.btn.btn-primary(type='submit')  
